/*
  Common styles
 */

html, body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans serif;
  /*font-family: sans serif;*/
  font-size: 10px;
  height: 100%;
  background-color: #fff;
}

body {
  background: none;
}

h1 {
  font-size: 100%;
}

/*
  Home View & Tracking View specific styles
 */
/* #home-compass {
  padding-top: 1rem;
 }*/
#home-button {
  color: #FFF;
  background-color: #1E824C;
  position: relative;
  top: calc(100% / 6);
  height: calc(50% - 3px);
  line-height: 67px;
}
.home-title {
  /*position: relative;
  top: 5px;*/
  margin-top: 1rem;
  margin-left: 1rem;
}
.home-value {
/*  position: relative;
  top: calc(100% / 3 - 20px);*/
  margin-top: 1rem;
}
.home-value-right {
  text-align: right;
  margin-right: 1rem;
}
/*.home-unit {
  position: relative;
  top: calc(200% / 3 - 45px);
}
.home-chrono {
  position: relative;
  top: calc(50% / 2 - 20px);
}
.home-alt {
  position: relative;
  margin-top: 10px;
}*/
button.alternate {
  margin-top: 35px;
  margin-right: 25px;
}
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
/*#home-compass, #infos-compass {
  margin-left: 30px;
}
.infos-container {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.infos-container > ul li {
  margin-top: 10px;
  font-size: 18px;
}*/
#tracking-h1 {
  margin-left: 30px;
}
#msg {
  padding-top: 10px;
  line-height: 3rem;
}
button#btn-pause {
  position:fixed;
  top: 1rem;
  right: 1rem;
}

/*
  Tacks list specific styles
*/
#list-spinner {
  width: 100%;
  text-align: center;
  padding-top: 80px;
}
#tracks-list a {
  text-align: left;
}
#tracks-list p {
  margin: 5px;
}
#tracks-list p.track-title {
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tracks-list img.track-icon {
  height: inherit;
  vertical-align: middle;
}
#tracks-list span.track-name {
  margin-left: 5px;
  font-size: 21px;
}
#tracks-list p.track-description span {
  float: left;
  width: 30%;
  font-weight: 300;
}
#tracks-list p.track-description span.track-date {
  width: 40%;
}
#tracks-list span.track-length {
  text-align: center;
}
#tracks-list span.track-duration {
  text-align: right;
}

/*
  Rename a track form specific styles
*/
p#icons-list > img {
  border-radius: 0.5rem;
  width: 38px;
  /* width: calc(100% / 6); not working */
  padding: 10px;
}
p#icons-list > img:hover {
  background-color: #AFEEEE;
}
p#icons-list > img.active {
  background-color: #00CAF2;
}

/*
  Settings View specific styles
 */
#settings-tittle {
  padding-left: 30px;
}
ul li > label.pack-switch {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: visible;
}
.settings-item {

}

.empty-tracks {
  font-size: 2.2rem;
  padding-top: 40%;
  padding-bottom: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: 0.1rem solid #686868;
}

#message-area {
  margin-top: 30%;
  padding: 10% 0;
  background: rgba(248, 248, 255, 0.9);
}
#message {
  background: rgba(248, 248, 255, 0.9);
}

#import-spinner-area {
  position: fixed;
  width: 100%;
  height: 100%;
  background: none repeat scroll 0% 0% rgba(248, 248, 255, 0.7);
}

#graphs-canvas {
  margin-bottom: 30px;
}

/*#map {
  width: calc(100% - 10px);
  height: 320px;
}*/
