/*@font-face{
    font-family: "Fira Sans";
    src: url("font/FiraSans-Hair.eot") format("embedded-opentype");
    src: local("Fira Sans Hair"),
         url("font/FiraSans-Hair.eot") format("embedded-opentype"),
         url("font/FiraSans-Hair.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}*/

@font-face{
    font-family: "Fira Sans";
    src: url("font/FiraSans-Light.eot") format("embedded-opentype");
    src: local("Fira Sans Light"),
         url("font/FiraSans-Light.eot") format("embedded-opentype"),
         url("font/FiraSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: "Fira Sans";
    src: url("font/FiraSans-Regular.eot") format("embedded-opentype");
    src: local("Fira Sans Regular"),
         url("font/FiraSans-Regular.eot") format("embedded-opentype"),
         url("font/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/*
@font-face{
    font-family: "Fira Sans";
    src: url("font/FiraSans-Bold.eot") format("embedded-opentype");
    src: local("Fira Sans Bold"),
         url("font/FiraSans-Bold.eot") format("embedded-opentype"),
         url("font/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}*/
