button.small {
	max-width: 25%;
}
button.big {
  font-size: 3rem;
}
.text-smaller {
  font-size: 0.9rem;
}
.text-small {
  font-size: 1.1rem;
}
.text-big {
  font-size: 1.5rem;
}
.align-left {
  float: left;
  margin-left: 8px;
}
.align-right {
  float: right;
  margin-right: 8px;
}
.align-center {
  text-align: center;
}

.new-line {
  clear: both;
}

.bold {
  font-weight: bold;
}

.bad-signal {
  color: red;
}

.clipped {
  max-width: 80%; /* for Peak screen*/
  width: 65%;  /*for Keon screen*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.separateur-bottom {
  border-bottom: 0.1rem solid #C3C3C3;
  padding-bottom: 2rem;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.move-right {
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: 0;
}
.move-center {
  transform: translateX(0);
  transition: transform 0.4s;
  z-index: 200;
}
