button.small {
	max-width: 25%;
}

.align-left {
  float: left;
  margin-left: 8px;
}
.align-right {
  float: right;
  margin-right: 8px;
}
.align-center {
  text-align: center;
}

.new-line {
  clear: both;
}

.bold {
  font-weight: bold;
}

.bad-signal {
  color: red;
}





.move-right {
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: 0;
}
.move-center {
  transform: translateX(0);
  transition: transform 0.4s;
  z-index: 200;
}