
x-appbar {
  /*background-color: #575757;*/
  background-color: #336E7B;
}

x-appbar > h1 {
  font-size: 2rem;
  text-align: left;
}

x-appbar > button.icon {
  display: block;
  margin: 0;
  font-size: 0;
  position: relative;
  float: none;
  vertical-align: middle;
  background: transparent no-repeat center center;
  font-size: 0;
  overflow: hidden;
}
x-appbar > button.icon:hover,
x-appbar > button.icon:active {
  background-color: #00405D;
}

x-appbar > button.icon.icon-menu {
  background-image: url("../img/menu.png");
}

x-appbar > button.icon.icon-list {
  background-image: url("../img/icon-list.png");
}

x-appbar > button.icon.icon-back {
  background-image: url("../img/icon-back.png");
}

x-appbar > button.icon.icon-forward {
  background-image: url("../img/icon-forward.png");
}

x-appbar > button.icon.icon-settings {
  background-image: url("../img/icon-settings.png");
}

x-appbar > button.icon.icon-delete {
  background-image: url("../img/icon-delete.png");
}

x-appbar > button.icon.icon-share {
  background-image: url("../img/icon-share.png");
}

x-appbar > button.icon.icon-edit {
  background-image: url("../img/icon-edit.png");
}
