/*
 * from firefox os building blocks
 */


li button:after,
li a[role="button"]:after,
li .button:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  height: 0.2rem;
  /*background: url('buttons/images/ui/shadow.png') repeat-x scroll left bottom / auto 100% transparent;*/
}
li button.icon-dialog:before,
li a.icon-dialog[role="button"]:before,
li .button.icon-dialog:before {
  background: url('images/dialog/dialog.png') no-repeat scroll 1.6rem 0px / 1rem 9rem transparent;
  top: 100%;
  margin-top: -2.4rem;
}