
x-appbar {
  background-color: #575757;
}

x-appbar > h1 {
  font-size: 2rem;
  text-align: left;
}

x-appbar > button.icon {
  display: block;
  margin: 0;
  font-size: 0;
  position: relative;
  float: none;
  vertical-align: middle;
/*
  width: 3rem;
  height: 5rem;
*/
  background: transparent no-repeat center center;
  font-size: 0;
  overflow: hidden;
}

x-appbar > button.icon.icon-menu {
  background-image: url("images/menu.png");
}

x-appbar > button.icon.icon-list {
  background-image: url("images/icon-list.png");
}

x-appbar > button.icon.icon-back {
  background-image: url("images/icon-back.png");
}

x-appbar > button.icon.icon-forward {
  background-image: url("images/icon-forward.png");
}

x-appbar > button.icon.icon-settings {
  background-image: url("images/icon-settings.png");
}

x-appbar > button.icon.icon-delete {
  background-image: url("images/icon-delete.png");
}

x-appbar > button.icon.icon-share {
  background-image: url("images/icon-share.png");
}

x-appbar > button.icon.icon-edit {
  background-image: url("images/icon-edit.png");
}
