
x-layout {
  overflow: scroll;
  height: 95%;
  font-size:1.5rem;
}
x-layout > header {
  padding: 0;
  background-color: orange;
  color: white;
  font-weight: bold;
  text-align: center;
}

x-layout > section {
  padding: 10px;
}

/*
  Buttons
 */

x-layout > section button {
  text-align: center;
  margin: 0;
  white-space: nowrap;
  font-size: 1.5rem;
  color: #292929;
  padding: 6px 18px;
  overflow: hidden;
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 0.5rem;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
  background: #E1E1E1 url("images/gradient.png") repeat-x bottom;
  text-overflow: ellipsis;
}

x-layout > section button.recommend {
  background-color: rgba(15, 173, 45, 1);
  color: #F2F2F2;
}

x-layout > section button.danger {
  background-color: #e51e1e;
  color: #fff;
}

/*
  Lists
 */

x-layout > [data-type="list"] ul {
  padding-right: 10px;
  min-width: 95%;
}
x-layout > [data-type="list"] ul li {
  height: 4rem;
  border-bottom: solid 0.1rem #C3C3C3;
  margin-bottom:0.5rem;
}

x-layout > [data-type="list"] ul li:last-child {
  border: none;
}

x-layout > [data-type="list"] ul li p.new-line {
  padding-top: 0.5rem;
}
x-layout > [data-type="list"] ul li p span.align-left {
  margin-left: 0;
}