
x-layout {
  overflow: scroll;
  height: 95%;
}
x-layout > header {
  padding: 0;
  background-color: orange;
  color: white;
  font-weight: bold;
  text-align: center;
}

x-layout > section {
  padding: 10px;
}

x-layout > section button {
  text-align: center;
  margin: 0;
  white-space: nowrap;
  font-size: 16px;
  color: #292929;
  padding: 6px 18px;
  overflow: hidden;
  border: 1px solid rgba(15, 15, 15, 0.2);
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2);
  background: #E1E1E1 url("images/gradient.png") repeat-x bottom;
  text-overflow: ellipsis;
}

x-layout > section button.recommend {
  background-color: rgba(15, 173, 45, 1);
  color: #F2F2F2;
}