/*
 * from firefox os building blocks
 */


section button {
  font-family: sans-serif;
  font-style: italic;
  /* width: 90%; */
  height: 4rem;
  /* margin: 0 0 1rem; */
  padding: 0 1.2rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #d8d8d8;
  border: none;
  border-radius: 0.5rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #333;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  outline: none;
}
section button.big {
  width:90%;
  height:6rem;
  font-size: 4rem;
  line-height: 6rem;
}
section button.small {
  width: auto;
  font-size: 2rem;
}

/*  */
section button.positive {
  /* background-color: #00FF7F; */
  background-color: #00a651;
  color : #fff;
}

/* Recommend */
section button.recommend {
  background-color: #00caf2;
  color: #fff;
}

/* Danger */
section button.danger {
  /* background-color: #e51e1e; */
  background-color: #f26c4f;
  color: #fff;
}

/* Pressed */
section button:active {
  background: #00aacc;
  color: #fff;
}

/* Disabled */
section button[disabled] {
  background-color: #565656;
  color: rgba(255,255,255,0.4);
  pointer-events: none;
}

section button[disabled].recommend {
  background-color: #006579;
}

section button[disabled].danger {
  background-color: #730f0f;
}
/*section button.icon {
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0px;
  min-width: 45px;
}
section button.icon.icon-pause {
  background-image: url("img/icon-pause.png");
}
section button.icon.icon-play {
  background-image: url("img/icon-play.png");
}*/
