button.small {
	max-width: 25%;
}
button.big {
  font-size: 3rem;
}
.text-smaller {
  font-size: 0.9rem;
}
.text-small {
  font-size: 1.2rem;
}
.text-1-4 {
  font-size: 1.4rem;
}
.text-1-6 {
  font-size: 1.6rem;
}
.text-big {
  font-size: 2rem;
}
.text-bigger {
  font-size: 3rem;
}
.text-biggger {
  font-size: 4rem;
}
.text-huge {
  font-size: 5rem;
}
.text-huger {
  font-size: 6rem;
}
.text-thin {
  font-weight: 300;
}
.text-thinner {
  font-weight: 100;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.align-left {
  float: left;
  margin-left: 1rem;
}
.align-right {
  float: right;
  /* margin-right: 1rem; */
}
.align-center {
  text-align: center;
}

.new-line {
  clear: both;
}

.bold {
  font-weight: bold;
}

.bad-signal {
  color: red;
}

.clipped {
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separateur-bottom {
  border-bottom: 0.1rem solid #C3C3C3;
  padding-bottom: 2rem;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}
.block {
  display: block;
}
.move-right {
  transform: translateX(100%);
  transition: transform 0.4s;
  z-index: 0;
}
.move-center {
  transform: translateX(0);
  transition: transform 0.4s;
  z-index: 200;
}

.front {
  z-index: 10;
}
.behind {
  z-index: -10;
}
.top40 {
  margin-top: 40%;
}

.width-half {
  width: 45%;
}
.box {
  border: 1px solid red;
}
